<h5 mat-dialog-title  style="text-align: center;">ORDER BEVESTIGING</h5>
<mat-dialog-content>
  <p style="text-align: center;">U kunt uw bestelling op de door u opgegeven tijd afhalen.</p>
  <p style="text-align: center;">U ontvang een email ter bevestiging van deze bestelling.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    style="width: 50%; margin: auto;"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="'order-confirmed-dialog closed'">
    <a style="color: white" href="http://cafedeengelbewaarder.nl/">HOME</a>
  </button>
</mat-dialog-actions>