<section fxLayout="column" fxLayoutAlign="center center">
  <div class="openingstijden">
    <h5>Beste klant, </h5>
    <p>
      Vanaf 14 mei kunnen er geen maaltijden meer worden afgehaald.
    </p>
    <p>
      Het terras is iedere dag geopend van 12:00 tot 18:00.
    </p>
    <p>
      De openingstijden zullen worden aangepast in overeenstemming met het regeringsbeleid.
    </p>
    <p>
      Hopelijk tot snel!
    </p>
    <h6>Café de Engelbewaarder</h6>
  </div>
</section>

<!-- <div class="app-header">
  <app-header (sideNavToggle)="sidenav.toggleSideNav()"></app-header>
  <app-sidenav #sidenav></app-sidenav>
</div>
<div class="outlet" fxLayout=column fxlayoutAlign="center center">
  <router-outlet></router-outlet>
</div> -->
